@{
    ViewBag.Title = "Dados Para Contato";
}
<h2>@ViewBag.Title.</h2>



<address>
    <strong>Nome:   </strong> Lucas Gorla Provinciatti</br>
    <strong>Celular:</strong> (16) 9.8811-3121<br/>
    <strong>Email:  </strong> <a href="mailto:lgprovinciatti@gmail.com">lgprovinciatti@gmail.com</a><br />
</address>